In [1]:
import pyspark
from pyspark.sql import SparkSession

user = "sidearm"
passwd = "Sidearm12345"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = "minio"
s3_secret_key = "Sidearm12345"
mongo_uri = f"mongodb://mongo:Sidearm12345@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = "Sidearm12345"
mssql_url = server_name + ";" + "databaseName=" + database_name + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint","http://minio:9000") \
        .config("spark.hadoop.fs.s3a.access.key", "minio") \
        .config("spark.hadoop.fs.s3a.secret.key", "Sidearm12345") \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.microsoft.azure#spark-mssql-connector_2.12 added as a dependency
com.microsoft.sqlserver#mssql-jdbc added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-f5ae1c7d-162c-4b8d-b661-f36ad254e0b3;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 in central
	found com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 in central
:: resolution report :: resolve 1607ms :: artifacts dl 87ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 from central in [default]
	com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-f5ae1c7d-162c-4b8d-b661-f36ad254e0b3
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/47ms)
23/03/12 18:47:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from pyspark.sql.functions import split, col, expr, sum, row_number, struct, lit, when, collect_list
from pyspark.sql.column import Column
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, LongType,ArrayType

In [3]:
players = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

In [4]:
teams = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

In [26]:
## Q4
gamestream = spark.read.option("sep", " ")\
                .option("inferSchema","true")\
                .option("ignoreLeadingWhiteSpace", "true")\
                .text("s3a://gamestreams/gamestream.txt")

gamestream = gamestream.withColumn("id", split(gamestream.value, " ").getItem(0))\
                .withColumn("timestamp", split(gamestream.value," ").getItem(1))\
                .withColumn("teamId", split(gamestream.value," ").getItem(2))\
                .withColumn("JerseyNumber", split(gamestream.value," ").getItem(3))\
                .withColumn("goal_1", split(gamestream.value," ").getItem(4)).drop("value")\
                .withColumn("goal_1",col("goal_1").cast("int"))

TeamScore = gamestream.groupBy("teamId").sum("goal_1").withColumnRenamed("sum(goal_1)", "TeamGoals").withColumnRenamed("teamId", "teamscore_teamid")
LastEventId = gamestream.orderBy(col("timestamp").asc()).select("id").first()[0]
LastTimeStamp = gamestream.orderBy(col("timestamp").asc()).select("timestamp").first()[0]

goals = gamestream.groupby("teamId","JerseyNumber").sum("goal_1")\
            .withColumnRenamed("sum(goal_1)","Goals").withColumnRenamed("teamId", "goals_teamId")\
            .withColumnRenamed("JerseyNumber", "goals_JerseyNumber")
shots = gamestream.groupby("teamId","JerseyNumber").count()\
        .withColumnRenamed("count","ShotsTaken").withColumnRenamed("teamId", "shots_teamId")\
            .withColumnRenamed("JerseyNumber", "shots_JerseyNumber")
Q4 = goals.join(shots, (goals.goals_teamId == shots.shots_teamId)&(goals.goals_JerseyNumber == shots.shots_JerseyNumber))\
    .select(col("goals_teamId").alias("teamId"),col("goals_JerseyNumber").alias("JerseyNumber"),"Goals","ShotsTaken")

Q4 = Q4.join(TeamScore, Q4.teamId == TeamScore.teamscore_teamid)\
    .withColumn("eventId",lit(LastEventId)).withColumn("timestamp",lit(LastTimeStamp))\
    .select("eventId","timestamp","teamId","JerseyNumber","ShotsTaken","Goals","TeamGoals")\
    .where(col("teamId") != 0)

players = players.withColumnRenamed("teamid", "player_team_id").withColumnRenamed("goals", "player_goal")
teams = teams.withColumnRenamed("name", "teamname")

teamgoals = gamestream.groupBy("teamId").sum("goal_1").withColumnRenamed("sum(goal_1)", "TeamScore").withColumnRenamed("teamId", "teamgoals_teamId")

HomeScore = teamgoals.select('TeamScore').where(col("teamgoals_teamId") == 101).first()[0]
AwayScore = teamgoals.select('TeamScore').where(col("teamgoals_teamId") == 205).first()[0]

## Q5
Q5 = Q4.join(players, (Q4.JerseyNumber == players.number) & (Q4.teamId == players.player_team_id)).join(teams, Q4.teamId == teams.id)\
    .join(teamgoals, Q4.teamId == teamgoals.teamgoals_teamId)\
    .withColumn("HomeScore", lit(HomeScore)).withColumn("AwayScore",lit(AwayScore))\
    .select("eventId","timestamp","teamId", "JerseyNumber", "ShotsTaken", "Goals", col("name").alias("PlayerName"), 
            "teamname", "wins","losses", "conference","TeamScore","HomeScore","AwayScore")\
    .withColumn("HomeScore", col("HomeScore").cast("int"))\
    .withColumn("AwayScore", col("AwayScore").cast("int"))\
    .withColumn("pct", expr("Goals/ShotsTaken"))

#Status
Q5 =Q5.withColumn("status", F.when((col("teamId") == 101) & (col("HomeScore") > col("AwayScore")), lit("winning"))\
                 .when((col("teamId") == 205) & (col("HomeScore") > col("AwayScore")),lit("losing"))\
              .when((col("teamId") == 101) & (col("HomeScore") < col("AwayScore")),lit("losing"))\
              .when((col("teamId") == 205) & (col("HomeScore") < col("AwayScore")),lit("winning")).otherwise(lit("Tied")))
                
            

## Q6
home = Q5.where(col("teamId") == 101).withColumnRenamed("timestamp", "home_timestamp")
away = Q5.where(col("teamId") == 205).withColumnRenamed("timestamp", "away_timestamp")

## Q6 struct
players_struct = struct("PlayerName","JerseyNumber","Goals","ShotsTaken","pct")
home_df = home.groupBy("eventId","home_timestamp", "teamname","teamId","TeamScore","conference","wins","losses","status")\
            .agg(collect_list(players_struct).alias("home_players"))\
.withColumn("home", struct(col("teamId"),col('teamname'),col('TeamScore').alias("Score"), col("status"),
                           col("conference"),col("wins"),col("losses"),"home_players"))\
.select('eventId','home_timestamp','home').withColumnRenamed("eventId","home_eventId")


away_df = away.groupBy("eventId","away_timestamp", "teamname","teamId","TeamScore","conference","wins","losses","status")\
            .agg(collect_list(players_struct).alias("away_players"))\
.withColumn("away", struct(col("teamId"),col('teamname'),col('TeamScore').alias("Score"),col("status"),
                           col("conference"),col("wins"),col("losses"),"away_players"))\
.select('eventId','away_timestamp','away').withColumnRenamed("eventId","away_eventId")

Q6 = home_df.join(away_df, (home_df.home_timestamp == away_df.away_timestamp), "outer")\
    .select(col("home_eventId").alias("eventId"), col("home_timestamp").alias("timestamp"), 'home', 'away')

# ## Q7
Q6.withColumn("_id",Q6.eventId).write.format("mongo").mode("append").option("database","sidearm").option("collection","boxscores").save()

In [25]:
Q6.printSchema()

root
 |-- eventId: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- home: struct (nullable = true)
 |    |-- teamId: string (nullable = true)
 |    |-- teamname: string (nullable = true)
 |    |-- Score: long (nullable = true)
 |    |-- status: string (nullable = false)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- home_players: array (nullable = false)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- PlayerName: string (nullable = true)
 |    |    |    |-- JerseyNumber: string (nullable = true)
 |    |    |    |-- Goals: long (nullable = true)
 |    |    |    |-- ShotsTaken: long (nullable = false)
 |    |    |    |-- pct: double (nullable = true)
 |-- away: struct (nullable = true)
 |    |-- teamId: string (nullable = true)
 |    |-- teamname: string (nullable = true)
 |    |-- Score: long (nullable = true)
 |    |-- status: string (nullable = false)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- away_players: array (nullable = false)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- PlayerName: string (nullable = true)
 |    |    |    |-- JerseyNumber: string (nullable = true)
 |    |    |    |-- Goals: long (nullable = true)
 |    |    |    |-- ShotsTaken: long (nullable = false)
 |    |    |    |-- pct: double (nullable = true)

+-------+---------+------+------------+----------+-----+----------+-------------+----+------+----------+---------+-------------------+-------+
|eventId|timestamp|teamId|JerseyNumber|ShotsTaken|Goals|PlayerName|     teamname|wins|losses|conference|TeamScore|                pct| status|
+-------+---------+------+------------+----------+-----+----------+-------------+----+------+----------+---------+-------------------+-------+
|     70|    00:00|   101|           2|         7|    2|     steve|     syracuse|  11|     2|       acc|       14| 0.2857142857142857|winning|
|     70|    00:00|   101|           6|         4|    2|       sam|     syracuse|  11|     2|       acc|       14|                0.5|winning|
|     70|    00:00|   101|          15|         3|    1|    shelly|     syracuse|  11|     2|       acc|       14| 0.3333333333333333|winning|
|     70|    00:00|   101|           8|         4|    0|       sly|     syracuse|  11|     2|       acc|       14|                0.0|winning|
|     70|    00:00|   101|           4|         5|    1|     shree|     syracuse|  11|     2|       acc|       14|                0.2|winning|
|     70|    00:00|   101|           9|         5|    0|       sol|     syracuse|  11|     2|       acc|       14|                0.0|winning|
|     70|    00:00|   101|          13|         7|    1|     stone|     syracuse|  11|     2|       acc|       14|0.14285714285714285|winning|
|     70|    00:00|   101|          17|         2|    0|      sean|     syracuse|  11|     2|       acc|       14|                0.0|winning|
|     70|    00:00|   101|          10|         3|    1|     swede|     syracuse|  11|     2|       acc|       14| 0.3333333333333333|winning|
|     70|    00:00|   101|           1|         8|    6|     sarah|     syracuse|  11|     2|       acc|       14|               0.75|winning|
|     70|    00:00|   205|          22|         1|    0|     julie|johns hopkins|   9|     4|     big10|        9|                0.0| losing|
|     70|    00:00|   205|          17|         3|    1|     james|johns hopkins|   9|     4|     big10|        9| 0.3333333333333333| losing|
|     70|    00:00|   205|           9|         4|    0|     julie|johns hopkins|   9|     4|     big10|        9|                0.0| losing|
|     70|    00:00|   205|           1|         3|    3|     jimmy|johns hopkins|   9|     4|     big10|        9|                1.0| losing|
|     70|    00:00|   205|          16|         1|    0|     jimmy|johns hopkins|   9|     4|     big10|        9|                0.0| losing|
|     70|    00:00|   205|           8|         2|    1|     julie|johns hopkins|   9|     4|     big10|        9|                0.5| losing|
|     70|    00:00|   205|           2|         3|    1|     james|johns hopkins|   9|     4|     big10|        9| 0.3333333333333333| losing|
|     70|    00:00|   205|           3|         1|    0|      jane|johns hopkins|   9|     4|     big10|        9|                0.0| losing|
|     70|    00:00|   205|          15|         2|    2|      jane|johns hopkins|   9|     4|     big10|        9|                1.0| losing|
|     70|    00:00|   205|           5|         2|    1|     jimmy|johns hopkins|   9|     4|     big10|        9|                0.5| losing|
+-------+---------+------+------------+----------+-----+----------+-------------+----+------+----------+---------+-------------------+-------+

In [18]:
## 11th 
if gamestream.count() == 71:
    score = gamestream.groupBy("teamId").sum("goal_1").where(col("teamId") != 0)
    home_score = score.where(col("teamId") == "101").first()[1]
    away_score = score.where(col("teamId") == "205").first()[1]
    if home_score > away_score:
        teams = teams.withColumn("wins", F.when(teams.id == "101",expr("wins + 1")).when(teams.id == "205", expr("wins + 0")))
        teams = teams.withColumn("losses", F.when(teams.id == "101",expr("losses + 0")).when(teams.id == "205", expr("losses + 1")))
    ## 12th. Creating a teams2 table in mssql
        teams.write.format("com.microsoft.sqlserver.jdbc.spark") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .mode("overwrite") \
        .option("url", mssql_url) \
        .option("dbtable", "teams2") \
        .option("user", mssql_user) \
        .option("password", mssql_pw) \
        .save()
    if home_score < away_score:
        teams = teams.withColumn("wins", F.when(teams.id == "101",expr("wins + 0")).when(teams.id == "205", expr("wins + 1")))
        teams = teams.withColumn("losses", F.when(teams.id == "101",expr("losses + 1")).when(teams.id == "205", expr("losses + 0")))
        
    ## 12th. Creating a teams2 table in mssql
        teams.write.format("com.microsoft.sqlserver.jdbc.spark") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .mode("overwrite") \
        .option("url", mssql_url) \
        .option("dbtable", "teams2") \
        .option("user", mssql_user) \
        .option("password", mssql_pw) \
        .save()
        
else:
    teams = teams.withColumn("wins", F.when(teams.id == "101",expr("wins + 0")).when(teams.id == "205", expr("wins + 0")))
    teams = teams.withColumn("losses", F.when(teams.id == "101",expr("losses + 0")).when(teams.id == "205", expr("losses + 0")))
    
    ## 12th. Creating a teams2 table in mssql for a draw
    
    teams.write.format("com.microsoft.sqlserver.jdbc.spark") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .mode("overwrite") \
        .option("url", mssql_url) \
        .option("dbtable", "teams2") \
        .option("user", mssql_user) \
        .option("password", mssql_pw) \
        .save()

In [19]:
## 13 & 14

if gamestream.count() == 71:
    player_details = gamestream.groupby("teamId","JerseyNumber").pivot("goal_1").count()\
    .withColumnRenamed("0", "MissedShots")\
    .withColumnRenamed("1", "Goals")\
    .na.fill(value = 0, subset = ["Goals","MissedShots"])\
    .withColumn("ShotsTaken", expr("MissedShots + Goals")).where(col("teamId") != 0)
    
    players = player_details.join(players, (player_details.teamId == players.player_team_id) & (player_details.JerseyNumber == players.number))\
                .withColumn("shots", expr("shots + ShotsTaken")).withColumn("player_goal",expr("player_goal + Goals"))\
                .select("id","name","number","shots","player_goal","player_team_id")
    
    
    players.write.format("com.microsoft.sqlserver.jdbc.spark") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .mode("overwrite") \
        .option("url", mssql_url) \
        .option("dbtable", "players2") \
        .option("user", mssql_user) \
        .option("password", mssql_pw) \
        .save()